@{
    ViewBag.Title = "WorkingWithSelectors";
}

<h2>Working With Selectors</h2>

<div id="emailContainer">
    <div class="panel">
        
    </div>
    <div class="panel">
        
    </div>
</div>
<div id="ordersContainer">
    <div class="panel">
        
    </div>
    <div class="panel">
        
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var $emailContainer;

        $(document).ready(function () {
            $emailContainer = $("#emailContainer");

            $emailContainer
                .attr("title", "Emails")
                .click(function () {
                    alert("Clicked container");
                });

            updatePanels($emailContainer);
            updatePanels($("#ordersContainer"));
        });

        function updatePanels($context) {
            $context.find("div.panel").each(function(i) {
                $(this).html("Panel " + i);
            });
        }
    </script>
}